
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>You have Successfully login /Sign up</h1>



  <a href="../home.html">Let's Go back to the Home Page</a>

  <h1 id="uemail">email= {{ email }}</h1>


</body>

</html>
