<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign Up</title>
    <link rel="stylesheet" href="loginorsignup.css">
</head>

<body>
    <div class="container">
        <div class="heading">SIGN-UP</div>
        <form action="/signup" method="post" class="form">

            <input class="input" type="text" name="fname" placeholder="FName"><br>
            <input class="input" type="text" name="lname" placeholder="LName"><br>
            <input class="input" type="text" name="email" placeholder="Email"><br>
            <input class="input" type="date" id="DOB" name="dob"><br>
            <div class="radiocontener">

                <input type="radio" id="male" name="gender" value="male">
                <label class="lab">MALE</label><br>
                <input type="radio" id="female" name="gender" value="female">
                <label class="lab">FEMALE</label><br>
                <input type="radio" id="other" name="gender" value="other">
                <label class="lab">OTHER</label><br>

            </div>
            <hr>
            <div class="listcontener">
                <label class="lab">PROFESSION: </label>
                <input list="profession" name="profession"
                    title="If your profession is not in list please enter your profession">
                <datalist id="profession">
                    <option value="Student">
                    <option value="Teacher">
                    <option value="Edutech">
                    <option value="instucter">

                </datalist>

                <hr>
                <input class="input" type="password" name="password" placeholder="Password"><br>
                <input class="input" type="password" name="passwordCheck" placeholder="PasswordCheck">

                <hr>

                <input type="number" id="imageNumber" name="profileimg" placeholder="Enter a Avatar number"
                    title="Enter A Avatra Number form 0-6">

                <div class="imagecontener" id="imageSelection">
                    <img src="/img/profile/image1.jpg" alt="Image 1" data-number="1" title="Avatar No. '1'">
                    <img src="/img/profile/image2.jpg" alt="Image 2" data-number="2" title="Avatar No. '2'">
                    <img src="/img/profile/image3.jpg" alt="Image 3" data-number="3" title="Avatar No. '3'">
                    <img src="/img/profile/image4.jpg" alt="Image 4" data-number="4" title="Avatar No. '4'">
                    <img src="/img/profile/image5.jpg" alt="Image 5" data-number="5" title="Avatar No. '5'">
                    <img src="/img/profile/image6.jpg" alt="Image 6" data-number="6" style="border-radius: 100px;"
                        title="Avatar No. '6'">

                </div>



                <input class="login-button" type="submit" name="" id="">

        </form>

</body>

</html>